<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @weapon.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weapon.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @weapon.image %>
</p>

<p>
  <strong>Place:</strong>
  <%= @weapon.place %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
